body {
  background-color: #c2c2c2;
}

.description {
  display: flex;
  width: 700px;
  justify-self: center;
  font-weight: 500;
  font-size: 22px;
  color: #1d1d1d;
}

.top__bar {
  overflow: hidden;
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__bar__icones {
  display: flex;
  gap: 24px;
  align-items: center;
}
.top__bar__logo {
  display: flex;
  width: 130px;
  height: 38px;
}
@media (min-width: 576px) {
  .top__bar__logo {
    width: 187px;
    height: 56px;
    flex-shrink: 0;
 }
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s;

  @media (min-width:576px) {
    width: 32px;
    height: 32px;
  }
}

.icon:hover {
  transform: scale(1.2);
}

.icon--menu {
  background-image: url(./images/icon-burger-menu.png);

  &:hover {
    background-image: url(./images/icon-burger-menu-hover.svg);
  }
}

.icon--close {
  background-image: url(./images/icon-close.svg);
}

.icon--phone {
  background-image: url(./images/icon-phone-call.svg);
  cursor: pointer;
  position: relative;

  &::before {
    content: "+1 234 555-55-55";
    font-weight: 700;
    line-height: 16px;
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: -120px;
    color: #fff;
    transition: transform 0.5s;
    display: none;
  }

  &:hover::before {
    @media (min-width:1000px) {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -100px;
    width: 100px;
    height: 16px;
    cursor: pointer;
    z-index: 1;
  }
}



.hover-images {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.hover-image {
  width: 350px; 
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out;
}


.hover-images.visible {
  opacity: 1;
}

.hover-images.visible .hover-image {
  transform: scale(1);
}
