body {
  background-color: #1d1c1d;
}

.bikes {
  padding-inline: 20px;
}

.product__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: aliceblue;
}
.product__photo {
  align-items: center;
  width: 80%;
  justify-content: center;
  transition-duration: 300ms;
}
.product__photo:hover {
  transform: scale(1.1);
}
.product__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: white;
}
.product__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: white;
}


.recommended__products {
  padding-inline: 20px;
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  row-gap: 24px;
  column-gap: 24px;
}
@media (min-width: 576px) {
  .recommended__products {
    --columns: 6;
    column-gap: 24px;
 }
}
@media (min-width: 1000px) {
  .recommended__products {
    --columns: 12;
 }
}
.recommended__product {
  grid-column: -1;
}
@media (min-width: 576px) {
  .recommended__product {
    grid-column: -1;
 }
}
@media (min-width: 1000px) {
  .recommended__product {
    grid-column: span 4;
 }
}


.icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s;

  @media (min-width:576px) {
    width: 32px;
    height: 32px;
  }
}

.icon:hover {
  transform: scale(1.2);
}

.icon--menu {
  background-image: url(./images/icon-burger-menu.png);

  &:hover {
    background-image: url(./images/icon-burger-menu-hover.svg);
  }
}

.icon--close {
  background-image: url(./images/icon-close.svg);
}

.icon--phone {
  background-image: url(./images/icon-phone-call.svg);
  cursor: pointer;
  position: relative;

  &::before {
    content: "+1 234 555-55-55";
    font-weight: 700;
    line-height: 16px;
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: -120px;
    color: #fff;
    transition: transform 0.5s;
    display: none;
  }

  &:hover::before {
    @media (min-width:1000px) {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -100px;
    width: 100px;
    height: 16px;
    cursor: pointer;
    z-index: 1;
  }
}

.top__bar {
  overflow: hidden;
  padding: 24px 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__bar__icones {
  display: flex;
  gap: 24px;
  align-items: center;
}
.top__bar__logo {
  display: flex;
  width: 130px;
  height: 38px;
}
@media (min-width: 576px) {
  .top__bar__logo {
    width: 187px;
    height: 56px;
    flex-shrink: 0;
 }
}
